<a href="https://colab.research.google.com/github/ROYSINGHx/demorepo/blob/main/loc_and_iloc_working.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/cars.csv')

In [7]:
df.sample(5)

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
48,49,Mercedes,GLA,2019,24000,Diesel,Automatic,First,17,2143,170,5,2400000
19,20,Mercedes,GLC,2017,26000,Petrol,Automatic,Second,12,1991,241,5,2500000
43,44,Maruti,S-Cross,2020,15000,Petrol,Automatic,Second,18,1462,103,5,700000
20,21,Toyota,Innova,2018,50000,Diesel,Manual,First,13,2755,171,7,1400000
12,13,Hyundai,Creta,2019,22000,Petrol,Manual,Third,16,1497,113,5,850000

In [9]:
df.shape

(100, 13)

13 colm

100 row

loc print the row value

In [13]:
df.head()

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000

In [10]:
df.loc[0]

Car_ID                     1
Brand                 Toyota
Model                Corolla
Year                    2018
Kilometers_Driven      50000
Fuel_Type             Petrol
Transmission          Manual
Owner_Type             First
Mileage                   15
Engine                  1498
Power                    108
Seats                      5
Price                 800000
Name: 0, dtype: object

In [12]:
df.loc[1]

Car_ID                       2
Brand                    Honda
Model                    Civic
Year                      2019
Kilometers_Driven        40000
Fuel_Type               Petrol
Transmission         Automatic
Owner_Type              Second
Mileage                     17
Engine                    1597
Power                      140
Seats                        5
Price                  1000000
Name: 1, dtype: object

In [14]:
df.loc[2]

Car_ID                       3
Brand                     Ford
Model                  Mustang
Year                      2017
Kilometers_Driven        20000
Fuel_Type               Petrol
Transmission         Automatic
Owner_Type               First
Mileage                     10
Engine                    4951
Power                      395
Seats                        4
Price                  2500000
Name: 2, dtype: object

In [17]:
df.head()

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000

In [15]:
df.loc[[1,2]]

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000

In [19]:
df.loc[[1,5]]

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
5,6,Tata,Nexon,2019,35000,Petrol,Manual,First,17,1198,108,5,750000

In [21]:
df.shape

(100, 13)

In [24]:
df.loc[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]]

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000
5,6,Tata,Nexon,2019,35000,Petrol,Manual,First,17,1198,108,5,750000
6,7,Mahindra,Scorpio,2018,45000,Diesel,Automatic,Second,15,2179,140,7,900000
7,8,Volkswagen,Polo,2020,25000,Petrol,Automatic,First,18,999,76,5,650000
8,9,Audi,A4,2017,30000,Diesel,Automatic,First,18,1968,187,5,2200000
9,10,BMW,X1,2019,20000,Diesel,Automatic,Second,20,1995,190,5,2700000
10,11,Mercedes,C-Class,2018,28000,Petrol,Automatic,First,16,1991,181,5,2300000
11,12,Ford,Endeavour,2017,35000,Diesel,Automatic,Second,12,2198,158,7,2000000
12,13,Hyundai,Creta,2019,22000,Petrol,Manual,Third,16,1497,113,5,850000
13,14,Tata,Harrier,2018,40000,Diesel,Automatic,First,17,1956,167,5,1600000
14,15,Maruti,Ertiga,2020,18000,Petrol,Manual,First,19,1462,103,7,850000

In [29]:
df.loc[99,'Brand']

'Tata'

In [30]:
df.loc[0:99,'Brand']

0       Toyota
1        Honda
2         Ford
3       Maruti
4      Hyundai
        ...
95    Mercedes
96      Toyota
97        Ford
98     Hyundai
99        Tata
Name: Brand, Length: 100, dtype: object

In [33]:
df.head(50)

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000
5,6,Tata,Nexon,2019,35000,Petrol,Manual,First,17,1198,108,5,750000
6,7,Mahindra,Scorpio,2018,45000,Diesel,Automatic,Second,15,2179,140,7,900000
7,8,Volkswagen,Polo,2020,25000,Petrol,Automatic,First,18,999,76,5,650000
8,9,Audi,A4,2017,30000,Diesel,Automatic,First,18,1968,187,5,2200000
9,10,BMW,X1,2019,20000,Diesel,Automatic,Second,20,1995,190,5,2700000
10,11,Mercedes,C-Class,2018,28000,Petrol,Automatic,First,16,1991,181,5,2300000
11,12,Ford,Endeavour,2017,35000,Diesel,Automatic,Second,12,2198,158,7,2000000
12,13,Hyundai,Creta,2019,22000,Petrol,Manual,Third,16,1497,113,5,850000
13,14,Tata,Harrier,2018,40000,Diesel,Automatic,First,17,1956,167,5,1600000
14,15,Maruti,Ertiga,2020,18000,Petrol,Manual,First,19,1462,103,7,850000
15,16,Honda,City,2017,42000,Diesel,Manual,Second,25,1498,98,5,650000
16,17,Volkswagen,Tiguan,2018,32000,Diesel,Automatic,First,17,1968,141,5,1800000
17,18,Audi,Q3,2016,38000,Petrol,Automatic,Second,15,1395,148,5,1900000
18,19,BMW,5 Series,2019,24000,Diesel,Automatic,First,18,1995,187,5,3000000
19,20,Mercedes,GLC,2017,26000,Petrol,Automatic,Second,12,1991,241,5,2500000
20,21,Toyota,Innova,2018,50000,Diesel,Manual,First,13,2755,171,7,1400000
21,22,Ford,Figo,2020,15000,Petrol,Manual,Third,18,1194,94,5,550000
22,23,Hyundai,Verna,2019,26000,Diesel,Automatic,Second,24,1582,126,5,850000
23,24,Tata,Altroz,2020,18000,Petrol,Manual,First,20,1199,85,5,600000
24,25,Mahindra,Thar,2021,10000,Diesel,Manual,First,15,2184,130,4,1200000
25,26,Volkswagen,Passat,2017,32000,Diesel,Automatic,Second,17,1968,174,5,1600000
26,27,Audi,A6,2018,28000,Petrol,Automatic,First,15,1984,241,5,3200000
27,28,BMW,X3,2019,22000,Diesel,Automatic,Second,18,1995,187,5,2800000
28,29,Mercedes,E-Class,2017,30000,Diesel,Automatic,First,16,1950,191,5,2700000
29,30,Toyota,Fortuner,2018,38000,Diesel,Automatic,Second,12,2755,174,7,2500000
30,31,Ford,Aspire,2019,26000,Petrol,Manual,Third,20,1194,94,5,600000
31,32,Hyundai,Elantra,2017,32000,Diesel,Automatic,Second,22,1582,126,5,800000
32,33,Tata,Safari,2018,42000,Diesel,Manual,First,14,1956,150,7,1300000
33,34,Maruti,Vitara,2019,24000,Petrol,Manual,Second,17,1462,103,5,700000
34,35,Honda,WR-V,2018,28000,Diesel,Manual,First,25,1498,98,5,750000
35,36,Volkswagen,Ameo,2020,15000,Petrol,Automatic,Third,19,1197,74,5,500000
36,37,Audi,A3,2017,38000,Petrol,Automatic,Second,16,1395,148,5,2000000
37,38,BMW,7 Series,2019,22000,Diesel,Automatic,First,15,2993,261,5,3500000
38,39,Mercedes,GLE,2018,26000,Petrol,Automatic,Second,12,2996,362,5,4000000
39,40,Toyota,Yaris,2020,18000,Petrol,Manual,First,17,1496,106,5,650000
40,41,Ford,Ranger,2017,38000,Diesel,Manual,Second,12,2198,158,5,1500000
41,42,Hyundai,Santro,2019,26000,Petrol,Manual,Third,20,1086,68,5,450000
42,43,Tata,Tigor,2018,42000,Diesel,Manual,First,24,1047,69,5,500000
43,44,Maruti,S-Cross,2020,15000,Petrol,Automatic,Second,18,1462,103,5,700000
44,45,Honda,BR-V,2018,28000,Diesel,Manual,First,21,1498,98,7,850000
45,46,Volkswagen,T-Roc,2019,22000,Petrol,Automatic,Second,18,1498,148,5,1600000
46,47,Audi,Q7,2017,30000,Diesel,Automatic,First,14,2967,245,7,3000000
47,48,BMW,X5,2018,28000,Petrol,Automatic,Second,14,2998,335,5,3200000
48,49,Mercedes,GLA,2019,24000,Diesel,Automatic,First,17,2143,170,5,2400000
49,50,Toyota,Camry,2016,38000,Petrol,Automatic,Second,19,2487,176,5,1800000

In [35]:
df['Price'] = df['Price'].astype(float)

In [38]:
df.loc[df['Price'] < 85000]

Empty DataFrame
Columns: [Car_ID, Brand, Model, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats, Price]
Index: []

In [42]:
df.loc[df['Year'] < 2016 , ['Seats']]

Empty DataFrame
Columns: [Seats]
Index: []

In [43]:
df.head()

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000.0
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000.0
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000.0
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000.0
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000.0

# ilco

# iloc[row,col]

In [44]:
df.iloc[:,0]

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: Car_ID, Length: 100, dtype: int64